* {
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
  background-image: linear-gradient(to top, #0a0d14, transparent, #0a0d14),
    url(images/Banner2.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header {
  width: 80vw;
  background-color: transparent;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.second {
  background-color: transparent;
}

.logo {
  height: 7vh;
  width: 100%;
}

.header-logo-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-shrink: 1;
  margin-top: 10px;
}
.logo-text {
  font-size: 20px;
  letter-spacing: 5px;
  animation: slide 3s linear infinite;
  color: white;
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

header ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

ul li {
  list-style: none;
  height: 60px;
  font-size: 14px;
}

ul li a {
  height: 100%;
  padding-right: 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-family: Arial;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}

.notifications-icon-container a:first-child {
  margin-top: 15px;
}

.notifications-icon-container .dropdown-content {
  margin-top: 30px;
}

ul li:not(:last-child) {
  margin-right: 20px;
}

ul li a:hover {
  color: #ff7200;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 150px;
  box-shadow: 0px 5px 15px 0px rgba(190, 190, 190, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ffffffd1;
}

.show {
  display: block;
}

.notifications-icon-container .tooltip {
  position: absolute;
  background-color: gray;
  color: black;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.03s;
  pointer-events: none;
  white-space: nowrap;
}

.notifications-icon-container:hover .tooltip {
  opacity: 1;
}

.notifications-icon-container .dropdown-content {
  top: 40px;
  width: 350px;
  right: 4vw;
  max-height: 400px;
  background-color: #fff;
  color: black;
  overflow-y: auto;
}
.notifications-icon-container .dropdown-content a {
  color: #000;
  border-bottom: 1px solid #ff7200;
  padding-top: 20px;
  padding-bottom: 20px;
}

.notifications-icon-container .dropdown-content p {
  border-bottom: 1px solid #c3c3c3;
  font-size: 16px;
  padding: 10px 0 10px 10px;
}
.notifications-icon-container .dropdown-content a:hover {
  background-color: rgb(244, 236, 236);
}

.search-label {
  position: relative;
  top: 7px;
}

.search-label input {
  background-color: #ff7200;
  width: 0px;
  transition: width 1s, border-radius 1s;
  border-radius: 50%;
  border-color: transparent;
  outline: none;
  padding: 10px 25px 10px 16px;
  cursor: pointer;
  color: lightblue;
  font-size: 16px;
}

.search-label input:hover {
  background-color: #ff7200;
}

.search-label input:focus {
  border-radius: 10%/30%;
  width: 150px;
  color: #ffffff;
  background-color: #ff7200;
}

.search-label svg {
  position: absolute;
  height: 30px;
  display: inline-block;
  left: 10px;
  bottom: -6px;
  transition: 0.4s;
  cursor: pointer;
}

.search-label input:focus + svg {
  opacity: 0;
}

.search-label-1 {
  position: relative;
  top: 7px;
}

.search-label-1 input {
  background-color: #ff7200;
  width: 0;
  transition: width 0.4s, border-radius 0.4s;
  border-radius: 50%;
  border: none;
  outline: none;
  padding: 10px 25px 10px 16px;
  cursor: pointer;
  color: lightblue;
  font-size: 16px;
}

.search-label-1 input:focus {
  border-radius: 10%/30%;
  width: 150px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #ff7200;
}

.search-label-1 svg {
  position: absolute;
  height: 30px;
  display: inline-block;
  left: 10px;
  bottom: -6px;
  transition: 0.4s;
  cursor: pointer;
}

.search-label-1 input:focus + svg {
  opacity: 0;
}

.content {
  max-width: 80vw;
  height: auto;
  margin: auto;
  color: #fff;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.content .par {
  margin-bottom: 15px;
  font-family: Arial;
  letter-spacing: 1.2px;
  line-height: 30px;
}

.content h2 {
  font-family: "Times New Roman";
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 5px;
}

.content .cn {
  width: 160px;
  height: 40px;
  background: #ff7200;
  border: none;
  margin-bottom: 10px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s ease;
}

.content .cn a {
  text-decoration: none;
  color: #000;
  transition: 0.3s ease;
}

.cn:hover {
  background-color: #fff;
}

.content span {
  color: #ff7200;
  font-size: 60px;
}

.form {
  width: 300px;
  height: 380px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 50%,
    rgba(0, 0, 0, 0.8) 50%
  );
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.form h2 {
  width: 220px;
  font-family: sans-serif;
  text-align: center;
  color: #fff;
  font-size: 22px;
  border-radius: 10px;
  padding: 8px;
}

.form input {
  width: 240px;
  height: 35px;
  background: transparent;
  border-bottom: 1px solid #ff7200;
  border-top: none;
  border-right: none;
  border-left: none;
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  font-family: sans-serif;
}

.form input:focus {
  outline: none;
}

::placeholder {
  color: #fff;
  font-family: Arial;
}

.btnn {
  width: 240px;
  height: 40px;
  background: #ff7200;
  border: none;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  color: #000;
  transition: 0.4s ease;
}

.btnn:hover {
  background: #fff;
  color: #000;
}

.btnn a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.form .link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  padding-top: 20px;
  text-align: center;
}

.form .link a {
  text-decoration: none;
  color: #ff7200;
}

.liw {
  padding-top: 8px;
  padding-bottom: 15px;
  text-align: center;
}

.icons a {
  text-decoration: none;
  color: #fff;
}

.icons ion-icon {
  color: #fff;
  font-size: 30px;
  padding-top: 5px;
  transition: 0.3s ease;
  margin-right: 10px;
}

.icons ion-icon:hover {
  color: #ff7200;
}

.form select {
  width: 240px;
  height: 35px;
  background: transparent;
  border-bottom: 1px solid #ff7200;
  border-top: none;
  border-right: none;
  border-left: none;
  color: #fff;
  font-size: 16px;
  font-family: sans-serif;
}

.form option {
  color: #000;
  background: transparent;
}

@keyframes slide-up {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }

  50% {
    transform: translateY(10%);
    opacity: 0.5;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.left-side > * {
  opacity: 0;
  animation: slide-up 0.6s linear forwards;
}

.left-side > *:first-child {
  animation-delay: 0s;
}

.left-side > *:nth-child(2) {
  animation-delay: 0.6s;
}

.left-side > *:nth-child(3) {
  animation-delay: 1.2s;
}

.left-side > *:nth-child(4) {
  animation-delay: 1.8s;
}

@keyframes ani {
  0% {
    transform: translateX(2.5%);
    opacity: -2;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.form {
  opacity: 0;
  animation: ani 1s linear forwards;
  animation-delay: 1s;
}

.about__content {
  opacity: 0;
  transform: translateY(20%);
  transition: opacity 1s, transform 1s;
}

.about__content.animate {
  opacity: 1;
  transform: translateY(0);
}

.about {
  background-color: #0a0d14;
  height: 100vh;
  max-width: 100%;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5%;
}

.about h2 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  display: flex;
  gap: 30px;
  align-items: center;
  width: 320px;
}

.about h2 img {
  width: 100px;
  height: 60px;
  display: none;
}

.section__subheader {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.about__flex {
  margin: 2rem 0;
  padding: 2rem 1rem;
  display: flex;
  width: 30vw;
  align-items: center;
  gap: 1rem;
  background-color: #20242f;
}

.about__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin: 50px 0;
}

.about__flex img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  flex-shrink: 0;
}

.about__flex div {
  flex: 1;
}

.about__card {
  flex: 1 1 150px;
  text-align: center;
  border-right: 2px solid #0a0d14;
  padding-right: 1.7%;
}

.about__card:last-child {
  border: none;
}

.about__card h4 {
  margin-bottom: 5px;
  font-size: 2rem;
  font-weight: 600;
  font-family: var(--header-font);
}

.about__card p {
  font-size: 0.9rem;
}

.left-section {
  max-width: 40%;
}

.about .btn {
  width: 150px;
  height: 40px;
  background: #ff7200;
  border: none;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  color: #000;
  transition: 0.4s ease;
}

.discover .btn {
  width: 150px;
  height: 40px;
  background: transparent;
  border: 1px solid white;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  transition: 0.4s ease;
}

.discover .btn:hover {
  background: #ff7200;
}
.left-section .btn:hover {
  background: #fff;
  color: #000;
}
.about__image img {
  max-width: 500px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: #0a0d14;
  text-align: center;
}

.logo-container h1 {
  font-size: 10vw;
  font-family: Arial, sans-serif;
  background: url("logo/logo.jpg");
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

footer {
  background-color: #0c0f16;
  color: white;
  height: 10vh;
  font-size: 1.5rem;
  text-align: center;
}

.discover__card img {
  width: 100%;
  display: flex;
}
.discover__card:first-child img {
  height: 450px;
}
.discover__card:nth-child(2) img {
  height: 450px;
}

a {
  text-decoration: none;
}

.discover {
  background: linear-gradient(to bottom, #181a20, #0a0d14);
  color: white;
}

.discover .section__header {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 3.5rem;
  padding-top: 20px;
}

.discover .section__subheader {
  margin-top: 20px;
  margin-bottom: 4rem;
  text-align: center;
  font-size: 1.5rem;
}

.discover__grid {
  box-sizing: border-box;
  margin-top: 4rem;
  width: 100%;
  padding-inline: 20px;
  display: flex;
  justify-content: space-evenly;
  overflow-x: auto;
  flex-wrap: nowrap;
  scroll-behavior: smooth;
}

.discover__card {
  flex: 0 0 auto;
  width: 320px;
  margin: 10px;
}

.discover__image {
  position: relative;
}

.discover__image::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 50%;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to top, #0f131d, transparent);
}

.discover_card_content {
  padding: 0 2rem;
  transform: translateY(-50%);
}

.discover_card_content h4 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 800;
  color: white;
}

.discover_card_content p {
  margin-bottom: 2rem;
}

.discover__btn {
  padding: 0.75rem 1rem;
  outline: none;
  font-size: 1rem;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  cursor: pointer;
}

.discover__btn:hover {
  background-color: #ff7200;
}

.side-bar {
  background: #1b1a1b;
  backdrop-filter: blur(15px);
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  overflow-y: auto;
  transition: 0.6s ease;
  transition-property: left;
  z-index: 999;
  display: none;
}
.side-bar::-webkit-scrollbar {
  width: 0px;
}

.side-bar .menu {
  width: 100%;
  margin-top: 30px;
}

.side-bar .menu .item {
  position: relative;
  cursor: pointer;
}

.side-bar .menu .item a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  padding: 5px 30px;
  line-height: 60px;
  display: flex;
  align-items: center;
}

.side-bar .menu .item a:hover {
  background: #33363a;
  transition: 0.3s ease;
}

.side-bar .menu .item a .dropdown {
  position: absolute;
  right: 0;
  margin: 20px;
  transition: 0.3s ease;
}

.side-bar .menu .item .sub-menu {
  background: #262627;
  display: none;
}

.side-bar .item:nth-child(2) {
  display: none;
}

.rotate {
  transform: rotate(-180deg);
}

@media (min-width: 1100px) {
  .hideMenuButton {
    display: none;
  }

  #no-hide {
    display: none;
  }
}

@media (max-width: 1099px) {
  #hide {
    display: none;
  }

  .second {
    width: 200px;
  }
  .content .form {
    display: none;
    opacity: 0;
  }
}

@media (max-width: 900px) {
  .about .about__image {
    display: none;
  }

  .about h2 img {
    display: block;
  }

  .left-section {
    max-width: 80%;
  }

  .about__flex {
    width: 60vw;
  }
}

@media (max-width: 830px) {
  .discover__grid {
    padding-inline: 10px;
    justify-content: flex-start;
  }
}

@media (min-width: 0) and (max-width: 500px) {
  .about {
    padding-top: 50px;
  }
}

@media (min-width: 0) and (max-width: 530px) {
  .side-bar .item:nth-child(2) {
    display: block;
    margin-inline: 30px;
    margin-block: 30px;
  }

  .second li:last-child {
    display: none;
  }
}
